main{
    display: flex;
    height: 100vh;
    width: 100vw;
}
select{
    height: 2.5rem;
    width: 13rem;
}


#getImage{
    display: flex;
    justify-self: end;
    align-self: start;
    margin-left: auto;
    height: 2rem;
    width: 6rem;
    justify-content: center;
    align-items: center;
}